#contact{
    padding: 60px 100px;
    background-color: var(--cinza);
    padding-bottom: 210px;
}
#contact h2{
    text-align: center;
    font-size: 3rem;
    padding: 60px 0;
}
#container-contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.redes{
    cursor: pointer;
    padding: 30px;
    color: white;
    text-align: center;
    border: 1px solid var(--vermelho);
    transition: 0.5s;
}
.redes i{
    color: var(--branco);
    font-size: 40px;
}
.redes:hover{
    background-color: var(--vermelho);
    color: white;
    border: 1px solid white;
}
#backToTop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: var(--vermelho);
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50%;
}