.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cinza);
    padding: 0 100px;
    color: white;
    height: 80px;
    position: sticky;
    top: 0;
}
.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--branco);
}
.logo::before{
    content: '<';
    color: var(--vermelho);
}
.logo::after{
    content: '/>';
    color: var(--vermelho);
}
.links{
    display: flex;
    gap: 30px;
}
.links li{
    list-style: none;
    font-size: 1.5rem;
}
.links a{
    color: var(--branco);
    transition: color 0.8s;
    padding-bottom: 10px;
    transition: color 0.5s;
}
.links a:hover{
    color: var(--vermelho);  
}
#menu-bar{
    display: none;
    font-size: 30px;
}
#container-mobile, #menu-mobile{
    display: none;
}