.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #151515;
    padding: 0 100px;
    color: white;
    height: 80px;
    position: sticky;
    top: 0;
}
.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
.logo::before{
    content: '<';
    color: red;
}
.logo::after{
    content: '/>';
    color: red;
}
#links{
    display: flex;
    gap: 30px;
}
#links li{
    list-style: none;
    font-size: 1.5rem;
}
#links a{
    color: white;
    transition: color 0.8s;
}
#links a:hover{
    color: red;
}
#menu-bar{
    display: none;
    font-size: 30px;
}