#projects{
    padding: 60px 100px;
}
#projects h2{
    text-align: center;
    font-size: 3rem;
    padding: 60px 0;
}
#container-projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.box-projects{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    padding: 30px 20px;
    color: white;
    gap: 20px;
    background-color: #212121;
}
.box-projects img{
    width: 100%;
}
.box-projects h3{
    font-size: 1.8rem;
}
.box-projects span{
    font-size: 1.2rem;
    color: #828282;
}