* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cinza: #151515;
    --cinzaClaro: #212121;
    --preto: #0D0D0D;
    --vermelho: red;
    --branco: white;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--preto);
    font-family: 'DM Sans', sans-serif;
}
ul{
    list-style: none;
}
a{
    color: none;
    text-decoration: none;
}
h2{
    color: var(--vermelho);
}
p, span{
    color: var(--branco);
}